@font-face {
    font-family: aviny;
    src: url("P:\Programing Project\Log-in Page UI conveted To Web\font") format("TTF");
}

body,
html {
    height: 100%;
    width: 100%;
    background: linear-gradient(151deg, rgba(70, 176, 152, 1) 9%, rgba(255, 185, 207, 0.8239670868347339) 51%, rgba(0, 212, 255, 1) 94%);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    margin: 0 auto;
}

.bg {
    width: 400px;
    height: 810px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border: none;
    position: absolute;
    border-radius: 55px;
    background: #e0e0e0;
    box-shadow: -20px 20px 60px #504f4f ,
                 20px -20px 50px #c7c5c5;

}

.nav {
    width: 100%;
    height: 50px;
    position: relative;
    border-top: none;
    border-radius: 55px 55px 0px 0px;
    /* background-color: red; */


}

.nav h1 {
    position: relative;
    font-size: 15px;
    top: 15px;
    left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline;
}

.icon {
    display: inline-block;
    float: right;
    position: relative;
    top: 15px;
    right: 15px;

}

.icon1 {
    position: absolute;
    width: 22px;
    right: 20px;
}

.icon2 {
    position: absolute;
    top: 2px;
    width: 11px;
    right: 70px;
}

.icon3 {
    position: absolute;
    top: 2px;
    width: 16px;
    right: 48px;
}

.header {
    width: 100%;
    height: 100px;
    /* background-color: rgba(255,185,207,0.8239670868347339); */
    position: relative;
}

.header h1 {
    text-align: left;
    margin-left: 12px;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(67, 110, 238, 1);
    display: inline-block;

}

.btn-back {
    width: 11px;
    float: left;
    position: relative;
    left: 22px;
    top: 10px;
}

.content {
    width: 100%;
    height: 550px;
    /* background-color: rgb(70,176,152); */
    position: absolute;

}

.content a {
    position: absolute;
    top: 400px;
    left: 200px;
    font-family: aviny;
    font-size: 23px;
    outline: none;
    color: black;
    text-decoration: none;
    transition: all ease .5s;

}

.content a:hover {
    color: rgb(20, 131, 134);
    text-shadow: 1px 1px 10px rgb(110, 255, 255);

}

.name-in {
    height: 35px;
    width: 270px;
    position: absolute;
    left: 35px;
    background: transparent;
    border-radius: 10px;
    top: 100px;
    
    /* background: transparent; */
    border: none;
    border-bottom: 1px solid rgba(108, 114, 116, 0.377);
    outline: none;
    font-family: aviny;
    font-size: 25px;
    text-align: center;
    transition: all ease 0.7s;

}

.name-in:hover {
    border-bottom: 1px solid rgb(0, 136, 170);

}

.name-style {
    position: absolute;
    top: 85px;
    left: 38px;
    font-size: 20px;
    font-family: aviny;
    color: rgba(109, 109, 109, 0.473);
}

.email-style {
    position: absolute;
    top: 187px;
    left: 37px;
    font-size: 20px;
    font-family: aviny;
    color: rgba(109, 109, 109, 0.473);



}

.email-in {
    position: relative;
    top: 70px;
    height: 35px;
    width: 270px;
    left: 35px;
    background: transparent;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid rgba(108, 114, 116, 0.377);
    top: 150px;
    outline: none;
    font-family: aviny;
    font-size: 25px;
    text-align: center;
    transition: all ease 0.7s;
}

.email-in:hover {
    border-bottom: 1px solid rgb(0, 136, 170);
}

.password-style {
    position: relative;
    top: 220px;
    left: 37px;
    font-size: 20px;
    font-family: aviny;
    color: rgba(109, 109, 109, 0.473);

}

.password-in {

    position: relative;
    top: 120px;
    height: 35px;
    width: 270px;
    left: 35px;
    background: transparent;
    border-radius: 10px;
    top: 200px;
    border: none;
    border-bottom: 1px solid rgba(108, 114, 116, 0.377);
    outline: none;
    font-family: aviny;
    font-size: 25px;
    text-align: center;
    transition: all ease 0.7s;

}

.password-in:hover {
    border-bottom: 1px solid rgb(0, 136, 170);


}

.btn {
    width: 100%;
    height: 100px;
    /* background-color: saddlebrown; */
    position: absolute;
    top: 450px;

}

.signup {
    width: 320px;
    height: 60px;
    margin: 0;
    position: absolute;
    top: 450px;
    left: 40px;
    background: rgb(67, 110, 238);
    border: none;
    border-radius: 30px;
    font-family: aviny;
    font-size: 32px;
    color: #ffff;
    transition: ease-in-out 0.7s;
}

.signup:hover {
    box-shadow: -9px 9px 35px #666666,
        9px -9px 35px #ffffff;

}

.pointer {
    width: 7.5px;
    margin: 0;
    position: absolute;
    top: 414px;
    left: 347px;
    background: ;
}

.footer {
    width: 100%;
    height: 110px;
    border: none;
    border-radius: 0px 0px 55px 55px;
    /* background-color: khaki; */
    position: relative;
    top: 550px;
}

.footer p {
    position: absolute;
    top: -45px;
    left: 93px;
    font-family: aviny;
    font-size: 25px;

}

.facebook {
    width: 20px;
    position: relative;
    float: right;
    top: 35px;
    right: 130px;
    transition: all ease 0.4s;
}

.facebook:hover {
    box-shadow: -13px 13px 26px #b3b3b3,
        13px -13px 26px #ffffff;
}

.gmail {
    position: relative;
    width: 23px;
    float: left;
    top: 35px;
    left: 120px;
    transition: all ease 0.4s;
}

.gmail:hover {
    box-shadow: -13px 13px 26px #b3b3b3,
        13px -13px 26px #ffffff;
}

.line {
    width: 200px;
    position: relative;
    top: 70px;
    left: 70px;
}